In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.read_csv('Train_dataset.csv')

In [0]:
df.fillna(df.mean(), inplace=True)

In [642]:
df.head()

   people_ID        Region  Gender  ...   salary FT/month Infect_Prob
0          1  Bhubaneshwar  Female  ...  1300000      2.0   49.135010
1          2  Bhubaneshwar  Female  ...   400000      1.0   51.147880
2          3  Bhubaneshwar  Female  ...   900000      1.0   73.224000
3          4  Bhubaneshwar  Female  ...  2300000      1.0   48.779225
4          5  Bhubaneshwar  Female  ...  1100000      1.0   87.868800

[5 rows x 28 columns]

In [0]:
df=pd.get_dummies(df, columns=["comorbidity","cardiological pressure"])

In [644]:

df

       people_ID  ... cardiological pressure_Stage-02
0              1  ...                               0
1              2  ...                               1
2              3  ...                               0
3              4  ...                               0
4              5  ...                               0
...          ...  ...                             ...
10709      22691  ...                               0
10710      22692  ...                               0
10711      22693  ...                               1
10712      22694  ...                               0
10713      22695  ...                               0

[10714 rows x 34 columns]

In [0]:
df=pd.get_dummies(df, columns=["Married"])

In [0]:
df.drop(['Region','Occupation'],axis=1,inplace=True)

In [0]:
df=df.drop(['people_ID', 'Designation','Name'], axis=1)

In [0]:
df=df.drop(['Mode_transport'], axis=1)

In [0]:
df['Pulmonary score']=df['Pulmonary score'].str.slice(start=1)

In [668]:
df.astype({'Pulmonary score': 'int64'}).dtypes

Gender                                object
Children                               int64
cases/1M                               int64
Deaths/1M                              int64
Age                                    int64
Coma score                             int64
Pulmonary score                        int64
Diuresis                               int64
Platelets                              int64
HBB                                    int64
d-dimer                                int64
Heart rate                             int64
HDL cholesterol                        int64
Charlson Index                         int64
Blood Glucose                          int64
Insurance                              int64
salary                                 int64
FT/month                               int64
comorbidity_Coronary Heart Disease     uint8
comorbidity_Diabetes                   uint8
comorbidity_Hypertension               uint8
comorbidity_None                       uint8
cardiological pressure_Elevated        uint8
cardiological pressure_Normal          uint8
cardiological pressure_Stage-01        uint8
cardiological pressure_Stage-02        uint8
Married_NO                             uint8
Married_YES                            uint8
dtype: object

In [651]:
df

       Gender  Children  ...  Married_NO  Married_YES
0      Female       1.0  ...           0            1
1      Female       2.0  ...           0            1
2      Female       1.0  ...           1            0
3      Female       1.0  ...           0            1
4      Female       2.0  ...           1            0
...       ...       ...  ...         ...          ...
10709    Male       2.0  ...           1            0
10710    Male       0.0  ...           0            1
10711    Male       0.0  ...           0            1
10712    Male       1.0  ...           0            1
10713    Male       2.0  ...           1            0

[10714 rows x 29 columns]

In [0]:
df.dropna( axis=0, how='any', inplace=True)

In [669]:
y=df['Infect_Prob']

KeyError: ignored

In [0]:

df=df.drop(['Gender'],axis=1)

In [655]:
df

       Children  cases/1M  ...  Married_NO  Married_YES
0           1.0         2  ...           0            1
1           2.0         2  ...           0            1
2           1.0         2  ...           1            0
3           1.0         2  ...           0            1
4           2.0         2  ...           1            0
...         ...       ...  ...         ...          ...
10709       2.0         8  ...           1            0
10710       0.0         8  ...           0            1
10711       0.0         8  ...           0            1
10712       1.0         8  ...           0            1
10713       2.0         8  ...           1            0

[10714 rows x 27 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=50)

In [576]:
from sklearn import linear_model
slr=linear_model.LinearRegression()

slr.fit(X_train,y_train)
print("coeficnet:",slr.coef_)
print("Intercept:",slr.intercept_)

coeficnet: [ 2.24865958e+00  2.97318638e-01  1.28602939e+00 -6.32332670e-03
  1.13313998e-01 -1.06601248e-04  8.29991103e-04  1.76601987e-02
  5.35175919e-03  3.41367464e-03 -4.85919396e-03  1.96957930e-02
 -9.01430805e-03 -6.00058900e-02  3.86495174e-08 -4.89989253e-07
 -2.50947986e-02 -2.52347409e-01 -4.81743665e-01 -4.82204467e-01
 -4.61635983e-01 -1.23812729e-01 -1.53397344e-01 -1.21946124e-01
  1.03971449e-02  5.80773754e+00 -5.80773754e+00]
Intercept: 48.39134764555867

In [0]:
from sklearn.metrics import r2_score
test_result=slr.predict(X_test)

In [578]:
print("Mean Abosulte Error: %.2f " % np.mean(np.absolute(test_result-y_test)))

Mean Abosulte Error: 4.52

In [579]:
y_test

6908    49.736279
6512    47.354192
6081    50.234250
4680    51.985975
4622    60.528714
          ...
4896    37.100160
7336    45.645554
9733    48.217650
4366    54.250029
903     49.661096
Name: Infect_Prob, Length: 2143, dtype: float64

In [580]:
X_train.shape

(8571, 27)

In [0]:
from pprint import pprint
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
regressor=neighbors.KNeighborsRegressor(n_neighbors=100)

In [486]:
regressor.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=100, p=2,
                    weights='uniform')

In [0]:
y_pred1=regressor.predict(X_test)

In [488]:
from sklearn.metrics import mean_squared_error
import numpy as np
mean_squared_error(y_test,y_pred1)

79.2726746438195

In [489]:
print("Mean Absolute Error:", np.mean(np.absolute(y_pred1-y_test)))

Mean Absolute Error: 4.389110412109239

In [490]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred1)
print(r2)

0.3082666609236593

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
regr = RandomForestRegressor(max_depth=1000, random_state=10)

In [656]:
regr.fit(df,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=1000, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=10, verbose=0, warm_start=False)

In [0]:
y_pred1=regr.predict(df)

In [678]:
y_pred1[0]

52.62034305420003

In [0]:
s=df['people_ID'].append(pd.DataFrame(y_pred1))

In [0]:
bigdata = pd.concat([df['people_ID'], pd.DataFrame(y_pred1)], axis=1)

In [0]:
bigdata.to_csv(r'outputfile-01.csv', index = False)

In [687]:
bigdata.head()

   people_ID          0
0       5942  52.620343
1      18664  52.720190
2       5603  51.520046
3       5649  52.757837
4       5099  52.782087

In [658]:
print("Mean Absolute Error:", np.mean(np.absolute(y_pred1-y_test)))

Mean Absolute Error: 1.3223669902238975

In [659]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred1)
print(r2)

0.9036183489184182

In [622]:
df.head()

         0         1         2   ...        24        25        26
0 -0.077858 -0.472554 -0.612505  ... -0.571530 -0.513122  0.513122
1  1.162498 -0.472554 -0.612505  ...  1.749689 -0.513122  0.513122
2 -0.077858 -0.472554 -0.612505  ... -0.571530  1.948853 -1.948853
3 -0.077858 -0.472554 -0.612505  ... -0.571530 -0.513122  0.513122
4  1.162498 -0.472554 -0.612505  ... -0.571530  1.948853 -1.948853

[5 rows x 27 columns]

In [0]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [582]:
y_train=y_train.astype('int')
bestfeatures = SelectKBest(score_func=chi2, k=25)
fit = bestfeatures.fit(X_train,y_train)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X_train.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(25,'Score'))

                                 Specs         Score
14                           Insurance  4.315275e+07
15                              salary  1.986758e+07
8                                  HBB  1.799791e+04
3                                  Age  1.649358e+04
7                            Platelets  1.553539e+04
1                             cases/1M  7.258977e+03
5                      Pulmonary score  5.741115e+03
2                            Deaths/1M  4.694101e+03
25                          Married_NO  4.556085e+03
0                             Children  2.788208e+03
6                             Diuresis  2.501736e+03
26                         Married_YES  1.195897e+03
4                           Coma score  8.455352e+02
12                      Charlson Index  4.383002e+02
9                              d-dimer  4.152621e+02
10                          Heart rate  2.109989e+02
24     cardiological pressure_Stage-02  1.938941e+02
23     cardiological pressure_Stage-01  1.848133e+02
11                     HDL cholesterol  1.364358e+02
22       cardiological pressure_Normal  6.985968e+01
16                            FT/month  5.894046e+01
19            comorbidity_Hypertension  5.785026e+01
21     cardiological pressure_Elevated  5.621765e+01
17  comorbidity_Coronary Heart Disease  5.617105e+01
18                comorbidity_Diabetes  5.199905e+01

In [541]:
df.drop(['Region_chennai','Region_Chandigarh','Region_Bhubaneshwar','cardiological pressure_Stage-01','cardiological pressure_Stage-02','cardiological pressure_Normal','cardiological pressure_Elevated'],axis=1,inplace=True)

KeyError: ignored

In [0]:
df.drop(['Blood Glucose','FT/month','comorbidity_Coronary Heart Disease','comorbidity_Diabetes','comorbidity_Hypertension','comorbidity_None','Gender'],axis=1,inplace=True)

In [0]:
df.drop(['Occupation_Business','Occupation_Cleaner','Occupation_Clerk','Occupation_Driver','Occupation_Farmer','Occupation_Legal','Occupation_Manufacturing','Occupation_Researcher','Occupation_Sales'],axis=1,inplace=True)

In [607]:
df.shape

(10714, 28)

In [557]:
df.head()

   Gender  Children  ...  Mode_transport_Public  Mode_transport_Walk
0  Female       1.0  ...                      1                    0
1  Female       2.0  ...                      0                    1
2  Female       1.0  ...                      1                    0
3  Female       1.0  ...                      0                    0
4  Female       2.0  ...                      0                    0

[5 rows x 45 columns]

In [0]:
from sklearn.svm import SVR

In [0]:
clf = SVR(C=100.0, epsilon=0.2)

In [0]:
clf.fit(X_train, y_train)

SVR(C=100.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
y_pred1=clf.predict(X_test)

In [0]:
print("Mean Absolute Error:", np.mean(np.absolute(y_pred1-y_test)))

Mean Absolute Error: 4.248199464787973

In [0]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred1)
print(r2)

0.11448804800706025

In [0]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()

In [0]:
df=pd.get_dummies(df, columns=["comorbidity","cardiological pressure","Gender"])

KeyError: ignored

In [0]:
df["Gender"] = lb_make.fit_transform(df["Gender"])

In [0]:
df["cardiological pressure"] = lb_make.fit_transform(df["cardiological pressure"])

In [0]:
df["Married"] = lb_make.fit_transform(df["Married"])

In [0]:
df["Married"]

0        1
1        1
2        0
3        1
4        0
        ..
10709    0
10710    1
10711    1
10712    1
10713    0
Name: Married, Length: 10714, dtype: int64

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
scaler = StandardScaler()

In [616]:
scaler.fit(df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
df=pd.DataFrame(scaler.transform(df))

In [478]:
df.head()

         0         1         2   ...        19        20        21
0 -0.077858 -0.472554 -0.612505  ... -0.704683  1.409278 -0.706612
1  1.162498 -0.472554 -0.612505  ... -0.704683 -0.709583  1.415204
2 -0.077858 -0.472554 -0.612505  ... -0.704683  1.409278 -0.706612
3 -0.077858 -0.472554 -0.612505  ...  1.419078 -0.709583 -0.706612
4  1.162498 -0.472554 -0.612505  ...  1.419078 -0.709583 -0.706612

[5 rows x 22 columns]

In [499]:
df=pd.DataFrame(scaler.transform(df))

ValueError: ignored

In [0]:
X_train.shape

(8571, 22)

In [0]:
from keras import Sequential
from keras.layers import Dense
def build_regressor():
    regressor = Sequential()
    regressor.add(Dense(units=2000, input_dim=22))
    regressor.add(Dense(units=1500))
    regressor.add(Dense(units=1500))
    regressor.add(Dense(units=1))
    regressor.compile(optimizer='adam', loss='mean_squared_error',  metrics=['mae','accuracy'])
    return regressor

In [0]:
from keras.wrappers.scikit_learn import KerasRegressor
regressor = KerasRegressor(build_fn=build_regressor, batch_size=200,epochs=100)

In [0]:
results=regressor.fit(X_train,y_train)

Epoch 1/100
8571/8571 [==============================] - 8s 927us/step - loss: 1153.5706 - mean_absolute_error: 27.1460 - acc: 0.0000e+00
Epoch 2/100
8571/8571 [==============================] - 7s 866us/step - loss: 112.1382 - mean_absolute_error: 7.0468 - acc: 0.0000e+00
Epoch 3/100
8571/8571 [==============================] - 7s 860us/step - loss: 96.7745 - mean_absolute_error: 5.9299 - acc: 0.0000e+00
Epoch 4/100
8571/8571 [==============================] - 7s 871us/step - loss: 98.5555 - mean_absolute_error: 5.9266 - acc: 0.0000e+00
Epoch 5/100
8571/8571 [==============================] - 7s 869us/step - loss: 92.7293 - mean_absolute_error: 5.6800 - acc: 0.0000e+00
Epoch 6/100
8571/8571 [==============================] - 7s 870us/step - loss: 93.4013 - mean_absolute_error: 5.6558 - acc: 0.0000e+00
Epoch 7/100
8571/8571 [==============================] - 8s 877us/step - loss: 96.7433 - mean_absolute_error: 6.0705 - acc: 0.0000e+00
Epoch 8/100
8571/8571 [==============================] - 7s 872us/step - loss: 92.4522 - mean_absolute_error: 5.7681 - acc: 0.0000e+00
Epoch 9/100
8571/8571 [==============================] - 7s 864us/step - loss: 95.5284 - mean_absolute_error: 6.0245 - acc: 0.0000e+00
Epoch 10/100
8571/8571 [==============================] - 7s 868us/step - loss: 92.7442 - mean_absolute_error: 5.7955 - acc: 0.0000e+00
Epoch 11/100
8571/8571 [==============================] - 7s 874us/step - loss: 92.8047 - mean_absolute_error: 5.7825 - acc: 0.0000e+00
Epoch 12/100
8571/8571 [==============================] - 7s 874us/step - loss: 93.9004 - mean_absolute_error: 5.8664 - acc: 0.0000e+00
Epoch 13/100
8571/8571 [==============================] - 7s 873us/step - loss: 97.2045 - mean_absolute_error: 6.0186 - acc: 0.0000e+00
Epoch 14/100
8571/8571 [==============================] - 8s 876us/step - loss: 89.7675 - mean_absolute_error: 5.5495 - acc: 0.0000e+00
Epoch 15/100
8571/8571 [==============================] - 8s 877us/step - loss: 89.2057 - mean_absolute_error: 5.5059 - acc: 0.0000e+00
Epoch 16/100
8571/8571 [==============================] - 8s 881us/step - loss: 92.9985 - mean_absolute_error: 5.7885 - acc: 0.0000e+00
Epoch 17/100
8571/8571 [==============================] - 8s 879us/step - loss: 90.6199 - mean_absolute_error: 5.6325 - acc: 0.0000e+00
Epoch 18/100
8571/8571 [==============================] - 8s 878us/step - loss: 92.9285 - mean_absolute_error: 5.7616 - acc: 0.0000e+00
Epoch 19/100
8571/8571 [==============================] - 8s 883us/step - loss: 89.4067 - mean_absolute_error: 5.5596 - acc: 0.0000e+00
Epoch 20/100
8571/8571 [==============================] - 8s 880us/step - loss: 89.3327 - mean_absolute_error: 5.4861 - acc: 0.0000e+00
Epoch 21/100
8571/8571 [==============================] - 7s 868us/step - loss: 91.1062 - mean_absolute_error: 5.7181 - acc: 0.0000e+00
Epoch 22/100
8571/8571 [==============================] - 8s 877us/step - loss: 91.5859 - mean_absolute_error: 5.7416 - acc: 0.0000e+00
Epoch 23/100
8571/8571 [==============================] - 8s 879us/step - loss: 88.3418 - mean_absolute_error: 5.3836 - acc: 0.0000e+00
Epoch 24/100
8571/8571 [==============================] - 8s 885us/step - loss: 90.3458 - mean_absolute_error: 5.5730 - acc: 0.0000e+00
Epoch 25/100
8571/8571 [==============================] - 7s 873us/step - loss: 90.7829 - mean_absolute_error: 5.6867 - acc: 0.0000e+00
Epoch 26/100
8571/8571 [==============================] - 8s 879us/step - loss: 90.6173 - mean_absolute_error: 5.6806 - acc: 0.0000e+00
Epoch 27/100
8571/8571 [==============================] - 8s 881us/step - loss: 89.9318 - mean_absolute_error: 5.6090 - acc: 0.0000e+00
Epoch 28/100
8571/8571 [==============================] - 8s 881us/step - loss: 88.6347 - mean_absolute_error: 5.4353 - acc: 0.0000e+00
Epoch 29/100
8571/8571 [==============================] - 8s 878us/step - loss: 91.0605 - mean_absolute_error: 5.6056 - acc: 0.0000e+00
Epoch 30/100
8571/8571 [==============================] - 7s 871us/step - loss: 88.9092 - mean_absolute_error: 5.4788 - acc: 0.0000e+00
Epoch 31/100
8571/8571 [==============================] - 8s 877us/step - loss: 89.4968 - mean_absolute_error: 5.4958 - acc: 0.0000e+00
Epoch 32/100
8571/8571 [==============================] - 8s 886us/step - loss: 86.9896 - mean_absolute_error: 5.2951 - acc: 0.0000e+00
Epoch 33/100
8571/8571 [==============================] - 7s 874us/step - loss: 96.6576 - mean_absolute_error: 6.1172 - acc: 0.0000e+00
Epoch 34/100
8571/8571 [==============================] - 7s 874us/step - loss: 90.8941 - mean_absolute_error: 5.6740 - acc: 0.0000e+00
Epoch 35/100
8571/8571 [==============================] - 7s 870us/step - loss: 88.0894 - mean_absolute_error: 5.3713 - acc: 0.0000e+00
Epoch 36/100
8571/8571 [==============================] - 7s 872us/step - loss: 87.4930 - mean_absolute_error: 5.3802 - acc: 0.0000e+00
Epoch 37/100
8571/8571 [==============================] - 7s 870us/step - loss: 87.3705 - mean_absolute_error: 5.2863 - acc: 0.0000e+00
Epoch 38/100
8571/8571 [==============================] - 7s 869us/step - loss: 87.5951 - mean_absolute_error: 5.2595 - acc: 0.0000e+00
Epoch 39/100
8571/8571 [==============================] - 7s 875us/step - loss: 89.1889 - mean_absolute_error: 5.4323 - acc: 0.0000e+00
Epoch 40/100
8571/8571 [==============================] - 8s 876us/step - loss: 87.9991 - mean_absolute_error: 5.3165 - acc: 0.0000e+00
Epoch 41/100
8571/8571 [==============================] - 8s 881us/step - loss: 89.2246 - mean_absolute_error: 5.4041 - acc: 0.0000e+00
Epoch 42/100
8571/8571 [==============================] - 8s 881us/step - loss: 89.0381 - mean_absolute_error: 5.5174 - acc: 0.0000e+00
Epoch 43/100
8571/8571 [==============================] - 8s 879us/step - loss: 88.2298 - mean_absolute_error: 5.4033 - acc: 0.0000e+00
Epoch 44/100
8571/8571 [==============================] - 8s 876us/step - loss: 88.0741 - mean_absolute_error: 5.3946 - acc: 0.0000e+00
Epoch 45/100
8571/8571 [==============================] - 7s 871us/step - loss: 87.1987 - mean_absolute_error: 5.2883 - acc: 0.0000e+00
Epoch 46/100
8571/8571 [==============================] - 8s 881us/step - loss: 88.2868 - mean_absolute_error: 5.4507 - acc: 0.0000e+00
Epoch 47/100
8571/8571 [==============================] - 8s 883us/step - loss: 93.9485 - mean_absolute_error: 5.9609 - acc: 0.0000e+00
Epoch 48/100
8571/8571 [==============================] - 8s 889us/step - loss: 89.4419 - mean_absolute_error: 5.4657 - acc: 0.0000e+00
Epoch 49/100
8571/8571 [==============================] - 8s 881us/step - loss: 88.8460 - mean_absolute_error: 5.3930 - acc: 0.0000e+00
Epoch 50/100
8571/8571 [==============================] - 8s 884us/step - loss: 86.6075 - mean_absolute_error: 5.1863 - acc: 0.0000e+00
Epoch 51/100
8571/8571 [==============================] - 8s 876us/step - loss: 87.5545 - mean_absolute_error: 5.2806 - acc: 0.0000e+00
Epoch 52/100
8571/8571 [==============================] - 8s 879us/step - loss: 85.5091 - mean_absolute_error: 5.0624 - acc: 0.0000e+00
Epoch 53/100
8571/8571 [==============================] - 8s 877us/step - loss: 86.6672 - mean_absolute_error: 5.2869 - acc: 0.0000e+00
Epoch 54/100
8571/8571 [==============================] - 7s 873us/step - loss: 86.1750 - mean_absolute_error: 5.2239 - acc: 0.0000e+00
Epoch 55/100
8571/8571 [==============================] - 8s 877us/step - loss: 86.8065 - mean_absolute_error: 5.1931 - acc: 0.0000e+00
Epoch 56/100
8571/8571 [==============================] - 8s 876us/step - loss: 91.1078 - mean_absolute_error: 5.7160 - acc: 0.0000e+00
Epoch 57/100
8571/8571 [==============================] - 7s 872us/step - loss: 88.2822 - mean_absolute_error: 5.4548 - acc: 0.0000e+00
Epoch 58/100
8571/8571 [==============================] - 8s 879us/step - loss: 87.9568 - mean_absolute_error: 5.3699 - acc: 0.0000e+00
Epoch 59/100
8571/8571 [==============================] - 7s 873us/step - loss: 86.7237 - mean_absolute_error: 5.2445 - acc: 0.0000e+00
Epoch 60/100
8571/8571 [==============================] - 8s 884us/step - loss: 90.8030 - mean_absolute_error: 5.6618 - acc: 0.0000e+00
Epoch 61/100
8571/8571 [==============================] - 8s 876us/step - loss: 86.3210 - mean_absolute_error: 5.2474 - acc: 0.0000e+00
Epoch 62/100
8571/8571 [==============================] - 8s 875us/step - loss: 87.2376 - mean_absolute_error: 5.2531 - acc: 0.0000e+00
Epoch 63/100
8571/8571 [==============================] - 8s 878us/step - loss: 85.2996 - mean_absolute_error: 5.1383 - acc: 0.0000e+00
Epoch 64/100
8571/8571 [==============================] - 8s 880us/step - loss: 86.1566 - mean_absolute_error: 5.2132 - acc: 0.0000e+00
Epoch 65/100
8571/8571 [==============================] - 8s 878us/step - loss: 91.2910 - mean_absolute_error: 5.6238 - acc: 0.0000e+00
Epoch 66/100
8571/8571 [==============================] - 8s 877us/step - loss: 87.5673 - mean_absolute_error: 5.4032 - acc: 0.0000e+00
Epoch 67/100
8571/8571 [==============================] - 8s 878us/step - loss: 86.6947 - mean_absolute_error: 5.2583 - acc: 0.0000e+00
Epoch 68/100
8571/8571 [==============================] - 8s 878us/step - loss: 86.1479 - mean_absolute_error: 5.1795 - acc: 0.0000e+00
Epoch 69/100
8571/8571 [==============================] - 7s 873us/step - loss: 88.5902 - mean_absolute_error: 5.4918 - acc: 0.0000e+00
Epoch 70/100
8571/8571 [==============================] - 8s 876us/step - loss: 84.8420 - mean_absolute_error: 5.0638 - acc: 0.0000e+00
Epoch 71/100
8571/8571 [==============================] - 7s 874us/step - loss: 86.8768 - mean_absolute_error: 5.2368 - acc: 0.0000e+00
Epoch 72/100
8571/8571 [==============================] - 7s 875us/step - loss: 86.7277 - mean_absolute_error: 5.2513 - acc: 0.0000e+00
Epoch 73/100
8571/8571 [==============================] - 8s 888us/step - loss: 89.9179 - mean_absolute_error: 5.5301 - acc: 0.0000e+00
Epoch 74/100
8571/8571 [==============================] - 8s 893us/step - loss: 86.5179 - mean_absolute_error: 5.2923 - acc: 0.0000e+00
Epoch 75/100
8571/8571 [==============================] - 8s 884us/step - loss: 85.8798 - mean_absolute_error: 5.1486 - acc: 0.0000e+00
Epoch 76/100
8571/8571 [==============================] - 8s 883us/step - loss: 86.3605 - mean_absolute_error: 5.1891 - acc: 0.0000e+00
Epoch 77/100
8571/8571 [==============================] - 8s 883us/step - loss: 85.5354 - mean_absolute_error: 5.1143 - acc: 0.0000e+00
Epoch 78/100
8571/8571 [==============================] - 8s 878us/step - loss: 87.4604 - mean_absolute_error: 5.2730 - acc: 0.0000e+00
Epoch 79/100
8571/8571 [==============================] - 8s 876us/step - loss: 89.6672 - mean_absolute_error: 5.5602 - acc: 0.0000e+00
Epoch 80/100
8571/8571 [==============================] - 7s 874us/step - loss: 86.0822 - mean_absolute_error: 5.1272 - acc: 0.0000e+00
Epoch 81/100
8571/8571 [==============================] - 7s 873us/step - loss: 86.2057 - mean_absolute_error: 5.1326 - acc: 0.0000e+00
Epoch 82/100
8571/8571 [==============================] - 7s 875us/step - loss: 85.7571 - mean_absolute_error: 5.1275 - acc: 0.0000e+00
Epoch 83/100
8571/8571 [==============================] - 7s 872us/step - loss: 87.0155 - mean_absolute_error: 5.2319 - acc: 0.0000e+00
Epoch 84/100
8571/8571 [==============================] - 7s 870us/step - loss: 85.3700 - mean_absolute_error: 5.1185 - acc: 0.0000e+00
Epoch 85/100
8571/8571 [==============================] - 8s 876us/step - loss: 86.3818 - mean_absolute_error: 5.1592 - acc: 0.0000e+00
Epoch 86/100
8571/8571 [==============================] - 7s 868us/step - loss: 85.6095 - mean_absolute_error: 5.1010 - acc: 0.0000e+00
Epoch 87/100
8571/8571 [==============================] - 8s 875us/step - loss: 88.0833 - mean_absolute_error: 5.3402 - acc: 0.0000e+00
Epoch 88/100
8571/8571 [==============================] - 7s 874us/step - loss: 85.6192 - mean_absolute_error: 5.1847 - acc: 0.0000e+00
Epoch 89/100
8571/8571 [==============================] - 7s 869us/step - loss: 86.4637 - mean_absolute_error: 5.2731 - acc: 0.0000e+00
Epoch 90/100
8571/8571 [==============================] - 7s 875us/step - loss: 85.9192 - mean_absolute_error: 5.0671 - acc: 0.0000e+00
Epoch 91/100
8571/8571 [==============================] - 8s 876us/step - loss: 86.7739 - mean_absolute_error: 5.3281 - acc: 0.0000e+00
Epoch 92/100
8571/8571 [==============================] - 7s 873us/step - loss: 85.2879 - mean_absolute_error: 5.1358 - acc: 0.0000e+00
Epoch 93/100
8571/8571 [==============================] - 7s 873us/step - loss: 86.4851 - mean_absolute_error: 5.2000 - acc: 0.0000e+00
Epoch 94/100
8571/8571 [==============================] - 7s 870us/step - loss: 85.2943 - mean_absolute_error: 5.0942 - acc: 0.0000e+00
Epoch 95/100
8571/8571 [==============================] - 7s 874us/step - loss: 86.5010 - mean_absolute_error: 5.1626 - acc: 0.0000e+00
Epoch 96/100
8571/8571 [==============================] - 7s 874us/step - loss: 85.0161 - mean_absolute_error: 5.0338 - acc: 0.0000e+00
Epoch 97/100
8571/8571 [==============================] - 7s 870us/step - loss: 85.3249 - mean_absolute_error: 5.1559 - acc: 0.0000e+00
Epoch 98/100
8571/8571 [==============================] - 8s 876us/step - loss: 85.2389 - mean_absolute_error: 5.0392 - acc: 0.0000e+00
Epoch 99/100
8571/8571 [==============================] - 7s 869us/step - loss: 87.1222 - mean_absolute_error: 5.2264 - acc: 0.0000e+00
Epoch 100/100
8571/8571 [==============================] - 7s 871us/step - loss: 84.6026 - mean_absolute_error: 5.0248 - acc: 0.0000e+00

In [0]:
y_pred= regressor.predict(X_test)

In [0]:
print("Mean Absolute Error:", np.mean(np.absolute(y_pred-y_test)))

Mean Absolute Error: 5.075108730611686

In [0]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred1)
print(r2)

0.32815288915135277

In [0]:
df=pd.read_csv('Test_dataset.csv')

In [522]:
df.head()

   people_ID Region  Gender  ... Insurance   salary FT/month
0       5942  Delhi  Female  ...   3900000  1300000        1
1      18664  Delhi    Male  ...   1800000  1300000        1
2       5603  Delhi  Female  ...   5000000  2000000        2
3       5649  Delhi  Female  ...   3100000   600000        2
4       5099  Delhi  Female  ...   2300000  1500000        1

[5 rows x 27 columns]

In [591]:
df.head()

   Children  cases/1M  ...  Married_NO  Married_YES
0       1.0         2  ...           0            1
1       2.0         2  ...           0            1
2       1.0         2  ...           1            0
3       1.0         2  ...           0            1
4       2.0         2  ...           1            0

[5 rows x 27 columns]

In [672]:
df.head()

   Children  cases/1M  ...  Married_NO  Married_YES
0         2         4  ...           0            1
1         2         4  ...           0            1
2         2         4  ...           0            1
3         2         4  ...           0            1
4         2         4  ...           0            1

[5 rows x 27 columns]

In [525]:
X_train.head()

             0         1         2   ...        19        20        21
10074 -1.318213  1.732399  1.728693  ... -0.704683 -0.709583  1.415204
638   -1.318213 -0.472554 -0.612505  ... -0.704683  1.409278 -0.706612
559    1.162498 -0.472554 -0.612505  ... -0.704683  1.409278 -0.706612
4875   1.162498  1.732399  1.728693  ...  1.419078 -0.709583 -0.706612
4396  -0.077858  1.732399  1.728693  ... -0.704683 -0.709583  1.415204

[5 rows x 22 columns]